package templates

templ AboutPage() {
	@layout() {
		<body>
			<div class="container">
				<h1>Ali Yeysideş</h1>
				<p>
					this site is built with Go + Templ and deployed with Fly.io. You can view the code <a
	href="https://github.com/aliyeysides/personal-site"
	target="_blank"
>here</a>.
				</p>
			</div>
		</body>
	}
}
