package templates

templ SplatsPage() {
	@layout() {
		<body>
			<div class="container">
				<h1>Gaussian Splats</h1>
				<p>3D captures made with Gaussian Splatting</p>
				<div class="content">
					<h2>Copper Lamp — Brooklyn, 2022</h2>
					<iframe id="viewer" width="800" height="500" allow="fullscreen; xr-spatial-tracking" src="https://superspl.at/s?id=1e39a520"></iframe>
				</div>
			</div>
		</body>
	}
}
