package templates

templ WorkPage() {
@layout() {

<body>
    <div class="container">
        <h1>Ali Yeysideş</h1>
        <p>sample of my work</p>
        <div class="content">
            <h2>open source & personal</h2>
            <a href="https://github.com/ccurme/yolopandas" target="_blank">yolopandas</a>
            <a href="https://github.com/run-llama/llama_index" target="_blank">llama index</a>
            <a href="https://github.com/aliyeysides/prisma-gpt" target="_blank">prisma-gpt</a>
            <a href="https://github.com/aliyeysides/openai-quickstart-ruby" target="_blank">openai-quickstart-ruby</a>
            <a href="https://github.com/aliyeysides/bar" target="_blank">B.A.R (Burn After Reading): open source paste
                bin</a>
            <a href="https://github.com/aliyeysides/click_call" target="_blank">
                click call: make phone calls from the
                browser
            </a>
            <a href="https://github.com/aliyeysides/Rosie" target="_blank">C# discord bot</a>
            <a href="https://github.com/aliyeysides/PinPoint" target="_blank">pinpoint: annotate youtube videos</a>
            <h2>professional</h2>
            <a href="https://brikmate.com" target="_blank">brikmate</a>
            <a href="https://investor.vanguard.com/advice/personal-financial-advice-options" target="_blank">vanguard
                PAS</a>
            <a href="https://localizejs.com/products/documents" target="_blank">localizejs documents</a>
        </div>
    </div>
</body>
}
}
