html, body {
  background: black;
  color: white;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  padding: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  margin-left: auto;
}

a {
  color: white;
}

::-moz-selection { /* Code for Firefox */
  background: #5eead4;
  color: black;
}

::selection {
  background: #5eead4;
  color: black;
}
